In [24]:
import csv
import pandas as pd
import numpy as np
import datetime as dt

## Read the raw data from csv

In [34]:
#bushfire data 2019 from Nasa
bushfire_2019_raw = pd.read_csv("Resources/Raw/modis_2019_Australia.csv")
bushfire_2019_raw.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-13.9873,127.3882,324.2,2.6,1.5,2019-01-01,122,Terra,MODIS,39,6.03,294.8,31.0,D,0
1,-13.9916,127.4121,327.4,2.6,1.5,2019-01-01,122,Terra,MODIS,61,6.03,295.5,45.0,D,0
2,-14.0055,127.4097,328.8,2.6,1.5,2019-01-01,122,Terra,MODIS,27,6.03,295.8,44.1,D,0
3,-14.1017,127.4337,334.9,2.6,1.5,2019-01-01,122,Terra,MODIS,86,6.03,292.9,83.1,D,0
4,-14.0012,127.3857,349.5,2.6,1.5,2019-01-01,122,Terra,MODIS,83,6.03,296.3,182.4,D,0

In [35]:
#bushfire data 2020 from Nasa
bushfire_2020_raw = pd.read_csv("Resources/Raw/modis_2020_Australia.csv")
bushfire_2020_raw.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-13.2051,143.1472,337.2,1.0,1.0,2020-01-01,50,Terra,MODIS,87,6.03,298.0,27.9,D,0
1,-14.4737,143.5811,351.4,1.0,1.0,2020-01-01,51,Terra,MODIS,95,6.03,300.4,55.8,D,0
2,-14.4828,143.5797,321.6,1.0,1.0,2020-01-01,51,Terra,MODIS,58,6.03,299.8,8.0,D,0
3,-14.7204,143.7693,343.0,1.0,1.0,2020-01-01,51,Terra,MODIS,89,6.03,300.4,35.5,D,0
4,-16.0143,145.1106,322.1,1.2,1.1,2020-01-01,51,Terra,MODIS,56,6.03,302.6,11.5,D,0

In [36]:
#Weather data May/2019-June/2020 from BOM
aus_weather_raw = pd.read_csv("Resources/Raw/Australia_weather.csv")
aus_weather_raw

,State,Station,Year,Month,Date,Day,Min °C,Max °C,Rain(mm),Evap (mm),...,Dir - 9:00 AM - km/h,Spd - 9:00AM - km/h,MSLP- hPa - 9:00AM,Temp °C- 3:00PM,RH -% 3:00PM,Cld 8th- 3:00 PM,Dir - 3:00 PM - km/h,Spd - 3:00PM - km/h,MSLP- hPa - 3:00PM,Rain(Y/N)
0,ACT,Canberra Airport {station 070351},2019,May,1.0,We,6.5,20.8,0.0,NaN,...,NNW,6.0,1022.0,20.1,61.0,8.0,WNW,13.0,1021.3,N
1,ACT,Canberra Airport {station 070351},2019,May,2.0,Th,8.8,23.8,0.0,NaN,...,ESE,4.0,1026.6,22.4,57.0,8.0,NW,11.0,1022.5,N
2,ACT,Canberra Airport {station 070351},2019,May,3.0,Fr,15.2,20.4,20.8,NaN,...,NNW,24.0,1019.1,18.9,75.0,NaN,N,33.0,1015.8,Y
3,ACT,Canberra Airport {station 070351},2019,May,4.0,Sa,5.0,19.0,0.6,NaN,...,Calm,NaN,1018.1,16.6,47.0,2.0,WNW,22.0,1015.6,Y
4,ACT,Canberra Airport {station 070351},2019,May,5.0,Su,4.9,17.4,0.0,NaN,...,S,24.0,1021.0,14.9,58.0,8.0,S,33.0,1019.4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport {station 015135},2019,May,27.0,Mo,17.7,27.3,0.0,NaN,...,ESE,33.0,1020.0,26.3,24.0,NaN,ESE,26.0,1016.2,N
11844,NT,Tennant Creek Airport {station 015135},2019,May,28.0,Tu,13.9,24.0,0.0,NaN,...,ESE,33.0,1021.1,23.5,22.0,NaN,E,17.0,1017.0,N
11845,NT,Tennant Creek Airport {station 015135},2019,May,29.0,We,11.4,23.9,0.0,NaN,...,ESE,26.0,1019.3,23.0,20.0,NaN,SE,20.0,1015.3,N
11846,NT,Tennant Creek Airport {station 015135},2019,May,30.0,Th,12.7,22.8,0.0,NaN,...,ESE,31.0,1021.0,22.4,27.0,2.0,SE,31.0,1017.7,N
11847,NT,Tennant Creek Airport {station 015135},2019,May,31.0,Fr,10.6,19.0,NaN,NaN,...,SE,43.0,1023.0,18.4,15.0,NaN,SSE,28.0,1019.1,N

In [37]:
#Weather station data from BOM
weather_station_raw = pd.read_csv("Resources/Raw/weather_station.csv")
weather_station_raw.head()

,"This file contains the date of installation of the initial AWS at those Bureau of Meteorology sites where an AWS has been used. Equipment may have been added, modified or removed after that date.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,This list was compiled in June 2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STN_NUM,WMO_NUM,AVIATION_ID,NAME,REGION,STATUS,EQUIP_START,EQUIP_END,LATITUDE,LONGITUDE,STN_HT,BAR_HT,AERO_HT
3,1006,95214,YWYM,WYNDHAM AERO,WA,OPEN,22/9/00,NaN,-15.51,128.1503,3.8,4.3,4.3
4,1007,94102,YTTI,TROUGHTON ISLAND,NT,OPEN,30/6/91,NaN,-13.7542,126.1485,6,8,8.2

## Clean the Bushfire Dataset

In [38]:
#change column name 
bushfire_2019_new = bushfire_2019_raw.rename(columns = {'acq_date':'date'})
bushfire_2020_new = bushfire_2020_raw.rename(columns = {'acq_date':'date'})

In [39]:
#choose useable column
bushfire_2019 = bushfire_2019_new[['latitude','longitude','brightness','date']]
bushfire_2020 = bushfire_2020_new[['latitude','longitude','brightness','date']]
bushfire_2020.head()

   latitude  longitude  brightness        date
0  -13.2051   143.1472       337.2  2020-01-01
1  -14.4737   143.5811       351.4  2020-01-01
2  -14.4828   143.5797       321.6  2020-01-01
3  -14.7204   143.7693       343.0  2020-01-01
4  -16.0143   145.1106       322.1  2020-01-01

In [40]:
#combine two dataset into one
bushfire_19_20 = pd.concat([bushfire_2019,bushfire_2020])
bushfire_19_20 = bushfire_19_20.dropna()
bushfire_19_20

        latitude  longitude  brightness        date
0       -13.9873   127.3882       324.2  2019-01-01
1       -13.9916   127.4121       327.4  2019-01-01
2       -14.0055   127.4097       328.8  2019-01-01
3       -14.1017   127.4337       334.9  2019-01-01
4       -14.0012   127.3857       349.5  2019-01-01
...          ...        ...         ...         ...
155519  -28.2874   122.2659       309.9  2020-12-31
155520  -30.8622   121.4951       308.0  2020-12-31
155521  -28.2864   122.2689       319.3  2020-12-31
155522  -28.2849   122.2565       345.2  2020-12-31
155523  -30.8620   121.4883       303.2  2020-12-31

[466008 rows x 4 columns]

In [44]:
bushfire_19_20['date'] = pd.to_datetime(bushfire_19_20['date'])
bushfire_19_20.to_csv("Resources/Bushfire_2019&2020.csv")

In [46]:
#fit the data of the weather dataset
bushfire_match = bushfire_19_20[(bushfire_19_20['date']>'2019-05-01')&(bushfire_19_20['date']<'2020-06-30')]
bushfire_match.to_csv("Resources/Bushfire_05-2019_06-2020.csv")
bushfire_match

       latitude  longitude  brightness       date
60394  -14.5846   131.0996       326.8 2019-05-02
60395  -14.5731   131.1018       325.5 2019-05-02
60396  -14.5703   131.0858       325.6 2019-05-02
60397  -15.4727   127.8127       318.9 2019-05-02
60398  -15.3464   127.8808       315.6 2019-05-02
...         ...        ...         ...        ...
84300  -20.7401   119.4791       316.1 2020-06-29
84301  -26.8403   152.1096       311.3 2020-06-29
84302  -26.8354   152.0858       307.8 2020-06-29
84303  -28.3130   149.7889       303.2 2020-06-29
84304  -29.0056   151.3923       305.3 2020-06-29

[334395 rows x 4 columns]

## Clean the weather dataset

In [52]:
aus_weather_raw

,State,Station,Year,Month,Date,Day,Min °C,Max °C,Rain(mm),Evap (mm),...,Dir - 9:00 AM - km/h,Spd - 9:00AM - km/h,MSLP- hPa - 9:00AM,Temp °C- 3:00PM,RH -% 3:00PM,Cld 8th- 3:00 PM,Dir - 3:00 PM - km/h,Spd - 3:00PM - km/h,MSLP- hPa - 3:00PM,Rain(Y/N)
0,ACT,Canberra Airport {station 070351},2019,May,1.0,We,6.5,20.8,0.0,NaN,...,NNW,6.0,1022.0,20.1,61.0,8.0,WNW,13.0,1021.3,N
1,ACT,Canberra Airport {station 070351},2019,May,2.0,Th,8.8,23.8,0.0,NaN,...,ESE,4.0,1026.6,22.4,57.0,8.0,NW,11.0,1022.5,N
2,ACT,Canberra Airport {station 070351},2019,May,3.0,Fr,15.2,20.4,20.8,NaN,...,NNW,24.0,1019.1,18.9,75.0,NaN,N,33.0,1015.8,Y
3,ACT,Canberra Airport {station 070351},2019,May,4.0,Sa,5.0,19.0,0.6,NaN,...,Calm,NaN,1018.1,16.6,47.0,2.0,WNW,22.0,1015.6,Y
4,ACT,Canberra Airport {station 070351},2019,May,5.0,Su,4.9,17.4,0.0,NaN,...,S,24.0,1021.0,14.9,58.0,8.0,S,33.0,1019.4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport {station 015135},2019,May,27.0,Mo,17.7,27.3,0.0,NaN,...,ESE,33.0,1020.0,26.3,24.0,NaN,ESE,26.0,1016.2,N
11844,NT,Tennant Creek Airport {station 015135},2019,May,28.0,Tu,13.9,24.0,0.0,NaN,...,ESE,33.0,1021.1,23.5,22.0,NaN,E,17.0,1017.0,N
11845,NT,Tennant Creek Airport {station 015135},2019,May,29.0,We,11.4,23.9,0.0,NaN,...,ESE,26.0,1019.3,23.0,20.0,NaN,SE,20.0,1015.3,N
11846,NT,Tennant Creek Airport {station 015135},2019,May,30.0,Th,12.7,22.8,0.0,NaN,...,ESE,31.0,1021.0,22.4,27.0,2.0,SE,31.0,1017.7,N
11847,NT,Tennant Creek Airport {station 015135},2019,May,31.0,Fr,10.6,19.0,NaN,NaN,...,SE,43.0,1023.0,18.4,15.0,NaN,SSE,28.0,1019.1,N

In [51]:
#change column name
aus_weather_new = aus_weather_raw.rename(columns = {'Min °C':'Min Temp(°C)','Max °C':'Max Temp(°C)','Max Wind gust Dir':"Max Wind Dir",'Max wind gust Spd - km/h':"Max Wind Spd(km/h)"})
aus_weather_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11848 entries, 0 to 11847
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     11848 non-null  object
 1   Station                   11848 non-null  object
 2   Year                      11848 non-null  int64
 3   Month                     11848 non-null  object
 4   Date                      11846 non-null  float64
 5   Day                       11846 non-null  object
 6   Min Temp(°C)              11736 non-null  float64
 7   Max Temp(°C)              11697 non-null  float64
 8   Rain(mm)                  11652 non-null  float64
 9   Evap (mm)                 2576 non-null   float64
 10  Sun(Hours)                2056 non-null   float64
 11  Max Wind Dir              10789 non-null  object
 12  Max Wind Spd(km/h)        10789 non-null  float64
 13  Max wind gust-Time-local  10797 non-null  object
 14  Temp °C- 9:00AM           11769 non-null  float64
 15  RH -% 9:00AM              11749 non-null  float64
 16  Cld 8th- 9:00 AM          6076 non-null   float64
 17  Dir - 9:00 AM - km/h      11755 non-null  object
 18  Spd - 9:00AM - km/h       10903 non-null  float64
 19  MSLP- hPa - 9:00AM        10565 non-null  float64
 20  Temp °C- 3:00PM           10981 non-null  float64
 21  RH -% 3:00PM              10967 non-null  float64
 22  Cld 8th- 3:00 PM          5319 non-null   float64
 23  Dir - 3:00 PM - km/h      10970 non-null  object
 24  Spd - 3:00PM - km/h       10933 non-null  float64
 25  MSLP- hPa - 3:00PM        10561 non-null  float64
 26  Rain(Y/N)                 11848 non-null  object
dtypes: float64(17), int64(1), object(9)
memory usage: 2.4+ MB

In [59]:
aus_weather = aus_weather_new[['State','Station','Min Temp(°C)','Max Temp(°C)','Rain(mm)','Max Wind Dir','Max Wind Spd(km/h)']]
aus_weather

,State,Station,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h)
0,ACT,Canberra Airport {station 070351},6.5,20.8,0.0,NNW,33.0
1,ACT,Canberra Airport {station 070351},8.8,23.8,0.0,NNW,26.0
2,ACT,Canberra Airport {station 070351},15.2,20.4,20.8,NNW,43.0
3,ACT,Canberra Airport {station 070351},5.0,19.0,0.6,SSE,41.0
4,ACT,Canberra Airport {station 070351},4.9,17.4,0.0,S,48.0
...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport {station 015135},17.7,27.3,0.0,ESE,50.0
11844,NT,Tennant Creek Airport {station 015135},13.9,24.0,0.0,ESE,48.0
11845,NT,Tennant Creek Airport {station 015135},11.4,23.9,0.0,ESE,44.0
11846,NT,Tennant Creek Airport {station 015135},12.7,22.8,0.0,NaN,NaN
11847,NT,Tennant Creek Airport {station 015135},10.6,19.0,NaN,SE,59.0

In [60]:
aus_weather_final = aus_weather.copy()
aus_weather_final['Station'] = aus_weather['Station'].str.rsplit("{", expand = True, n = 1)[0]
aus_weather_final

,State,Station,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h)
0,ACT,Canberra Airport,6.5,20.8,0.0,NNW,33.0
1,ACT,Canberra Airport,8.8,23.8,0.0,NNW,26.0
2,ACT,Canberra Airport,15.2,20.4,20.8,NNW,43.0
3,ACT,Canberra Airport,5.0,19.0,0.6,SSE,41.0
4,ACT,Canberra Airport,4.9,17.4,0.0,S,48.0
...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport,17.7,27.3,0.0,ESE,50.0
11844,NT,Tennant Creek Airport,13.9,24.0,0.0,ESE,48.0
11845,NT,Tennant Creek Airport,11.4,23.9,0.0,ESE,44.0
11846,NT,Tennant Creek Airport,12.7,22.8,0.0,NaN,NaN
11847,NT,Tennant Creek Airport,10.6,19.0,NaN,SE,59.0

In [61]:
aus_weather_final['Station No.'] = aus_weather['Station'].str.rsplit(" 0", expand = True, n = 1)[1]
aus_weather_final['Station No.'] = aus_weather_final['Station No.'].str.rsplit("}", expand = True, n = 1)[0]
aus_weather_final

,State,Station,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h),Station No.
0,ACT,Canberra Airport,6.5,20.8,0.0,NNW,33.0,70351
1,ACT,Canberra Airport,8.8,23.8,0.0,NNW,26.0,70351
2,ACT,Canberra Airport,15.2,20.4,20.8,NNW,43.0,70351
3,ACT,Canberra Airport,5.0,19.0,0.6,SSE,41.0,70351
4,ACT,Canberra Airport,4.9,17.4,0.0,S,48.0,70351
...,...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport,17.7,27.3,0.0,ESE,50.0,15135
11844,NT,Tennant Creek Airport,13.9,24.0,0.0,ESE,48.0,15135
11845,NT,Tennant Creek Airport,11.4,23.9,0.0,ESE,44.0,15135
11846,NT,Tennant Creek Airport,12.7,22.8,0.0,NaN,NaN,15135
11847,NT,Tennant Creek Airport,10.6,19.0,NaN,SE,59.0,15135

In [62]:

aus_weather_final['Date'] = pd.to_datetime(aus_weather[["Year", "Month", "Date"]])
aus_weather_final

KeyError: "None of [Index(['Year', 'Month', 'Date'], dtype='object')] are in the [columns]"