In [17]:
import pandas as pd
import pymongo
import json

## convert csv to json

In [23]:
#convert bushfire_2019&2020 to json
df1 = pd.read_csv("Resources/Bushfire_2019&2020.csv")
df2 = df1.head()
df2['date'] = df2['date'].astype(str)
df2

/Users/xiaokunyu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   latitude  longitude  brightness    date
0  -13.9873   127.3882       324.2  1/1/19
1  -13.9916   127.4121       327.4  1/1/19
2  -14.0055   127.4097       328.8  1/1/19
3  -14.1017   127.4337       334.9  1/1/19
4  -14.0012   127.3857       349.5  1/1/19

In [22]:
result1 = df2.to_json(orient="values")
print(result1)

[[-13.9873,127.3882,324.2,"1\/1\/19"],[-13.9916,127.4121,327.4,"1\/1\/19"],[-14.0055,127.4097,328.8,"1\/1\/19"],[-14.1017,127.4337,334.9,"1\/1\/19"],[-14.0012,127.3857,349.5,"1\/1\/19"]]

In [7]:
parsed = json.loads(result1)
json.dumps(parsed, indent = 4)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)