In [13]:
import csv
import pandas as pd
import numpy as np
import datetime as dt
import json

## Read the raw data from csv

In [14]:
#bushfire data 2019 from Nasa
bushfire_2019_raw = pd.read_csv("Resources/Raw/modis_2019_Australia.csv")
bushfire_2019_raw.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-13.9873,127.3882,324.2,2.6,1.5,2019-01-01,122,Terra,MODIS,39,6.03,294.8,31.0,D,0
1,-13.9916,127.4121,327.4,2.6,1.5,2019-01-01,122,Terra,MODIS,61,6.03,295.5,45.0,D,0
2,-14.0055,127.4097,328.8,2.6,1.5,2019-01-01,122,Terra,MODIS,27,6.03,295.8,44.1,D,0
3,-14.1017,127.4337,334.9,2.6,1.5,2019-01-01,122,Terra,MODIS,86,6.03,292.9,83.1,D,0
4,-14.0012,127.3857,349.5,2.6,1.5,2019-01-01,122,Terra,MODIS,83,6.03,296.3,182.4,D,0

In [15]:
#bushfire data 2020 from Nasa
bushfire_2020_raw = pd.read_csv("Resources/Raw/modis_2020_Australia.csv")
bushfire_2020_raw.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-13.2051,143.1472,337.2,1.0,1.0,2020-01-01,50,Terra,MODIS,87,6.03,298.0,27.9,D,0
1,-14.4737,143.5811,351.4,1.0,1.0,2020-01-01,51,Terra,MODIS,95,6.03,300.4,55.8,D,0
2,-14.4828,143.5797,321.6,1.0,1.0,2020-01-01,51,Terra,MODIS,58,6.03,299.8,8.0,D,0
3,-14.7204,143.7693,343.0,1.0,1.0,2020-01-01,51,Terra,MODIS,89,6.03,300.4,35.5,D,0
4,-16.0143,145.1106,322.1,1.2,1.1,2020-01-01,51,Terra,MODIS,56,6.03,302.6,11.5,D,0

In [3]:
#Weather data May/2019-June/2020 from BOM
aus_weather_raw = pd.read_csv("Resources/Raw/Australia_weather.csv")
aus_weather_raw

,State,Station,Year,Month,Date,Day,Min °C,Max °C,Rain(mm),Evap (mm),...,Dir - 9:00 AM - km/h,Spd - 9:00AM - km/h,MSLP- hPa - 9:00AM,Temp °C- 3:00PM,RH -% 3:00PM,Cld 8th- 3:00 PM,Dir - 3:00 PM - km/h,Spd - 3:00PM - km/h,MSLP- hPa - 3:00PM,Rain(Y/N)
0,ACT,Canberra Airport {station 070351},2019,May,1.0,We,6.5,20.8,0.0,NaN,...,NNW,6.0,1022.0,20.1,61.0,8.0,WNW,13.0,1021.3,N
1,ACT,Canberra Airport {station 070351},2019,May,2.0,Th,8.8,23.8,0.0,NaN,...,ESE,4.0,1026.6,22.4,57.0,8.0,NW,11.0,1022.5,N
2,ACT,Canberra Airport {station 070351},2019,May,3.0,Fr,15.2,20.4,20.8,NaN,...,NNW,24.0,1019.1,18.9,75.0,NaN,N,33.0,1015.8,Y
3,ACT,Canberra Airport {station 070351},2019,May,4.0,Sa,5.0,19.0,0.6,NaN,...,Calm,NaN,1018.1,16.6,47.0,2.0,WNW,22.0,1015.6,Y
4,ACT,Canberra Airport {station 070351},2019,May,5.0,Su,4.9,17.4,0.0,NaN,...,S,24.0,1021.0,14.9,58.0,8.0,S,33.0,1019.4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport {station 015135},2019,May,27.0,Mo,17.7,27.3,0.0,NaN,...,ESE,33.0,1020.0,26.3,24.0,NaN,ESE,26.0,1016.2,N
11844,NT,Tennant Creek Airport {station 015135},2019,May,28.0,Tu,13.9,24.0,0.0,NaN,...,ESE,33.0,1021.1,23.5,22.0,NaN,E,17.0,1017.0,N
11845,NT,Tennant Creek Airport {station 015135},2019,May,29.0,We,11.4,23.9,0.0,NaN,...,ESE,26.0,1019.3,23.0,20.0,NaN,SE,20.0,1015.3,N
11846,NT,Tennant Creek Airport {station 015135},2019,May,30.0,Th,12.7,22.8,0.0,NaN,...,ESE,31.0,1021.0,22.4,27.0,2.0,SE,31.0,1017.7,N
11847,NT,Tennant Creek Airport {station 015135},2019,May,31.0,Fr,10.6,19.0,NaN,NaN,...,SE,43.0,1023.0,18.4,15.0,NaN,SSE,28.0,1019.1,N

In [5]:
#Weather station data from BOM
weather_station_raw = pd.read_csv("Resources/Raw/weather_station.csv")
weather_station_raw

,STN_NUM,WMO_NUM,AVIATION_ID,NAME,REGION,STATUS,EQUIP_START,EQUIP_END,LATITUDE,LONGITUDE,STN_HT,BAR_HT,AERO_HT
0,1006,95214.0,YWYM,WYNDHAM AERO,WA,OPEN,22/9/00,NaN,-15.5100,128.1503,3.8,4.3,4.3
1,1007,94102.0,YTTI,TROUGHTON ISLAND,NT,OPEN,30/6/91,NaN,-13.7542,126.1485,6.0,8.0,8.2
2,1019,94100.0,YKAL,KALUMBURU,WA,OPEN,16/9/98,NaN,-14.2964,126.6453,23.0,24.0,29.0
3,1020,95101.0,YTST,TRUSCOTT,NT,OPEN,1/5/04,NaN,-14.0900,126.3867,51.0,52.5,51.0
4,2012,94212.0,YHLC,HALLS CREEK AIRPORT,WA,OPEN,25/8/96,NaN,-18.2292,127.6636,422.0,423.9,410.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,300052,89578.0,NaN,EAGLE,TAS/ANT,OPEN,19/2/05,NaN,-76.4175,77.0297,2824.0,NaN,NaN
712,300053,NaN,NaN,AM 01,TAS/ANT,CLOSED,16/3/06,30/7/10,-69.4419,71.4172,65.0,NaN,NaN
713,300054,NaN,NaN,AM 02,TAS/ANT,CLOSED,16/3/06,30/7/10,-69.7133,72.6400,47.0,NaN,NaN
714,300055,89570.0,WPWP,DAVIS (WHOOP WHOOP),TAS/ANT,OPEN,7/2/07,NaN,-68.4845,78.8169,545.0,546.5,543.0
715,300060,89809.0,YCSK,CASEY SKIWAY SOUTH,TAS/ANT,OPEN,25/1/08,NaN,-66.2861,110.7633,392.0,398.5,NaN

## Clean the Bushfire Dataset

In [16]:
#change column name 
bushfire_2019_new = bushfire_2019_raw.rename(columns = {'acq_date':'date'})
bushfire_2020_new = bushfire_2020_raw.rename(columns = {'acq_date':'date'})

In [17]:
#choose useable column
bushfire_2019 = bushfire_2019_new[['latitude','longitude','brightness','date']]
bushfire_2020 = bushfire_2020_new[['latitude','longitude','brightness','date']]
bushfire_2020.head()

   latitude  longitude  brightness        date
0  -13.2051   143.1472       337.2  2020-01-01
1  -14.4737   143.5811       351.4  2020-01-01
2  -14.4828   143.5797       321.6  2020-01-01
3  -14.7204   143.7693       343.0  2020-01-01
4  -16.0143   145.1106       322.1  2020-01-01

In [18]:
#combine two dataset into one
bushfire_19_20 = pd.concat([bushfire_2019,bushfire_2020])
bushfire_19_20 = bushfire_19_20.dropna()
bushfire_19_20.reset_index(drop = True)
bushfire_19_20

        latitude  longitude  brightness        date
0       -13.9873   127.3882       324.2  2019-01-01
1       -13.9916   127.4121       327.4  2019-01-01
2       -14.0055   127.4097       328.8  2019-01-01
3       -14.1017   127.4337       334.9  2019-01-01
4       -14.0012   127.3857       349.5  2019-01-01
...          ...        ...         ...         ...
155519  -28.2874   122.2659       309.9  2020-12-31
155520  -30.8622   121.4951       308.0  2020-12-31
155521  -28.2864   122.2689       319.3  2020-12-31
155522  -28.2849   122.2565       345.2  2020-12-31
155523  -30.8620   121.4883       303.2  2020-12-31

[466008 rows x 4 columns]

In [19]:
bushfire_19_20['date'] = pd.to_datetime(bushfire_19_20['date'])
bushfire_19_20.to_csv("Resources/Bushfire_2019&2020.csv")

In [10]:
#fit the data of the weather dataset
bushfire_match = bushfire_19_20[(bushfire_19_20['date']>'2019-05-01')&(bushfire_19_20['date']<'2020-06-30')]
bushfire_match.to_csv("Resources/Bushfire_05-2019_06-2020.csv")
bushfire_match

       latitude  longitude  brightness       date
60394  -14.5846   131.0996       326.8 2019-05-02
60395  -14.5731   131.1018       325.5 2019-05-02
60396  -14.5703   131.0858       325.6 2019-05-02
60397  -15.4727   127.8127       318.9 2019-05-02
60398  -15.3464   127.8808       315.6 2019-05-02
...         ...        ...         ...        ...
84300  -20.7401   119.4791       316.1 2020-06-29
84301  -26.8403   152.1096       311.3 2020-06-29
84302  -26.8354   152.0858       307.8 2020-06-29
84303  -28.3130   149.7889       303.2 2020-06-29
84304  -29.0056   151.3923       305.3 2020-06-29

[334395 rows x 4 columns]

In [21]:
#fit the data of the weather dataset
bushfire_match1 = bushfire_19_20[(bushfire_19_20['date']>'2019-09-01')&(bushfire_19_20['date']<'2019-11-30')]
#bushfire_match.to_csv("Resources/Bushfire_05-2019_06-2020.csv")
bushfire_match1

        latitude  longitude  brightness       date
134017  -11.0674   142.6177       311.1 2019-09-02
134018  -12.0019   142.5243       326.6 2019-09-02
134019  -11.9928   142.5256       326.7 2019-09-02
134020  -11.9551   142.5216       320.6 2019-09-02
134021  -11.1073   142.5771       322.2 2019-09-02
...          ...        ...         ...        ...
228397  -32.9644   150.4179       319.3 2019-11-29
228398  -33.2759   150.3811       322.0 2019-11-29
228399  -33.2929   150.3763       327.3 2019-11-29
228400  -33.2649   150.3376       329.9 2019-11-29
228401  -33.2911   150.3817       333.8 2019-11-29

[94385 rows x 4 columns]

## Clean the weather dataset

In [11]:
aus_weather_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11848 entries, 0 to 11847
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     11848 non-null  object
 1   Station                   11848 non-null  object
 2   Year                      11848 non-null  int64
 3   Month                     11848 non-null  object
 4   Date                      11846 non-null  float64
 5   Day                       11846 non-null  object
 6   Min °C                    11736 non-null  float64
 7   Max °C                    11697 non-null  float64
 8   Rain(mm)                  11652 non-null  float64
 9   Evap (mm)                 2576 non-null   float64
 10  Sun(Hours)                2056 non-null   float64
 11  Max Wind gust Dir         10789 non-null  object
 12  Max wind gust Spd - km/h  10789 non-null  float64
 13  Max wind gust-Time-local  10797 non-null  object
 14  Temp °C- 9:00AM           11769 non-null  float64
 15  RH -% 9:00AM              11749 non-null  float64
 16  Cld 8th- 9:00 AM          6076 non-null   float64
 17  Dir - 9:00 AM - km/h      11755 non-null  object
 18  Spd - 9:00AM - km/h       10903 non-null  float64
 19  MSLP- hPa - 9:00AM        10565 non-null  float64
 20  Temp °C- 3:00PM           10981 non-null  float64
 21  RH -% 3:00PM              10967 non-null  float64
 22  Cld 8th- 3:00 PM          5319 non-null   float64
 23  Dir - 3:00 PM - km/h      10970 non-null  object
 24  Spd - 3:00PM - km/h       10933 non-null  float64
 25  MSLP- hPa - 3:00PM        10561 non-null  float64
 26  Rain(Y/N)                 11848 non-null  object
dtypes: float64(17), int64(1), object(9)
memory usage: 2.4+ MB

In [12]:
#change column name
aus_weather_new = aus_weather_raw.rename(columns = {'Min °C':'Min Temp(°C)','Max °C':'Max Temp(°C)','Max Wind gust Dir':"Max Wind Dir",'Max wind gust Spd - km/h':"Max Wind Spd(km/h)","Day":"Day1",'Date':'Day'})

aus_weather_new.loc[aus_weather_new['Month']=='May','Month']=5
aus_weather_new.loc[aus_weather_new['Month']=='June','Month']=6
aus_weather_new.loc[aus_weather_new['Month']=='July','Month']=7
aus_weather_new.loc[aus_weather_new['Month']=='August','Month']=8
aus_weather_new.loc[aus_weather_new['Month']=='September','Month']=9
aus_weather_new.loc[aus_weather_new['Month']=='October','Month']=10
aus_weather_new.loc[aus_weather_new['Month']=='November','Month']=11
aus_weather_new.loc[aus_weather_new['Month']=='December','Month']=12
aus_weather_new.loc[aus_weather_new['Month']=='January','Month']=1
aus_weather_new.loc[aus_weather_new['Month']=='February','Month']=2
aus_weather_new.loc[aus_weather_new['Month']=='March','Month']=3
aus_weather_new.loc[aus_weather_new['Month']=='April','Month']=4
aus_weather_new['Month'] = pd.to_numeric(aus_weather_new['Month'])

aus_weather_new.info()
#'May', 'June', 'July', 'August', 'September', 'October','November', 'December', 'January', 'February', 'March', 'April'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11848 entries, 0 to 11847
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     11848 non-null  object
 1   Station                   11848 non-null  object
 2   Year                      11848 non-null  int64
 3   Month                     11848 non-null  int64
 4   Day                       11846 non-null  float64
 5   Day1                      11846 non-null  object
 6   Min Temp(°C)              11736 non-null  float64
 7   Max Temp(°C)              11697 non-null  float64
 8   Rain(mm)                  11652 non-null  float64
 9   Evap (mm)                 2576 non-null   float64
 10  Sun(Hours)                2056 non-null   float64
 11  Max Wind Dir              10789 non-null  object
 12  Max Wind Spd(km/h)        10789 non-null  float64
 13  Max wind gust-Time-local  10797 non-null  object
 14  Temp °C- 9:00AM           11769 non-null  float64
 15  RH -% 9:00AM              11749 non-null  float64
 16  Cld 8th- 9:00 AM          6076 non-null   float64
 17  Dir - 9:00 AM - km/h      11755 non-null  object
 18  Spd - 9:00AM - km/h       10903 non-null  float64
 19  MSLP- hPa - 9:00AM        10565 non-null  float64
 20  Temp °C- 3:00PM           10981 non-null  float64
 21  RH -% 3:00PM              10967 non-null  float64
 22  Cld 8th- 3:00 PM          5319 non-null   float64
 23  Dir - 3:00 PM - km/h      10970 non-null  object
 24  Spd - 3:00PM - km/h       10933 non-null  float64
 25  MSLP- hPa - 3:00PM        10561 non-null  float64
 26  Rain(Y/N)                 11848 non-null  object
dtypes: float64(17), int64(2), object(8)
memory usage: 2.4+ MB

In [13]:
#filter the column 
aus_weather = aus_weather_new[['State','Station','Min Temp(°C)','Max Temp(°C)','Rain(mm)','Max Wind Dir','Max Wind Spd(km/h)']]
aus_weather

,State,Station,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h)
0,ACT,Canberra Airport {station 070351},6.5,20.8,0.0,NNW,33.0
1,ACT,Canberra Airport {station 070351},8.8,23.8,0.0,NNW,26.0
2,ACT,Canberra Airport {station 070351},15.2,20.4,20.8,NNW,43.0
3,ACT,Canberra Airport {station 070351},5.0,19.0,0.6,SSE,41.0
4,ACT,Canberra Airport {station 070351},4.9,17.4,0.0,S,48.0
...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport {station 015135},17.7,27.3,0.0,ESE,50.0
11844,NT,Tennant Creek Airport {station 015135},13.9,24.0,0.0,ESE,48.0
11845,NT,Tennant Creek Airport {station 015135},11.4,23.9,0.0,ESE,44.0
11846,NT,Tennant Creek Airport {station 015135},12.7,22.8,0.0,NaN,NaN
11847,NT,Tennant Creek Airport {station 015135},10.6,19.0,NaN,SE,59.0

In [14]:
#split the station name
aus_weather_final = aus_weather.copy()
aus_weather_final['Station'] = aus_weather['Station'].str.rsplit("{", expand = True, n = 1)[0]
aus_weather_final

,State,Station,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h)
0,ACT,Canberra Airport,6.5,20.8,0.0,NNW,33.0
1,ACT,Canberra Airport,8.8,23.8,0.0,NNW,26.0
2,ACT,Canberra Airport,15.2,20.4,20.8,NNW,43.0
3,ACT,Canberra Airport,5.0,19.0,0.6,SSE,41.0
4,ACT,Canberra Airport,4.9,17.4,0.0,S,48.0
...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport,17.7,27.3,0.0,ESE,50.0
11844,NT,Tennant Creek Airport,13.9,24.0,0.0,ESE,48.0
11845,NT,Tennant Creek Airport,11.4,23.9,0.0,ESE,44.0
11846,NT,Tennant Creek Airport,12.7,22.8,0.0,NaN,NaN
11847,NT,Tennant Creek Airport,10.6,19.0,NaN,SE,59.0

In [15]:
#split the station no.
aus_weather_final['Station No.'] = aus_weather['Station'].str.rsplit(" 0", expand = True, n = 1)[1]
aus_weather_final['Station No.'] = aus_weather_final['Station No.'].str.rsplit("}", expand = True, n = 1)[0]
aus_weather_final

,State,Station,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h),Station No.
0,ACT,Canberra Airport,6.5,20.8,0.0,NNW,33.0,70351
1,ACT,Canberra Airport,8.8,23.8,0.0,NNW,26.0,70351
2,ACT,Canberra Airport,15.2,20.4,20.8,NNW,43.0,70351
3,ACT,Canberra Airport,5.0,19.0,0.6,SSE,41.0,70351
4,ACT,Canberra Airport,4.9,17.4,0.0,S,48.0,70351
...,...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport,17.7,27.3,0.0,ESE,50.0,15135
11844,NT,Tennant Creek Airport,13.9,24.0,0.0,ESE,48.0,15135
11845,NT,Tennant Creek Airport,11.4,23.9,0.0,ESE,44.0,15135
11846,NT,Tennant Creek Airport,12.7,22.8,0.0,NaN,NaN,15135
11847,NT,Tennant Creek Airport,10.6,19.0,NaN,SE,59.0,15135

In [16]:
#datetime the three columns of year,month,day
aus_weather_final['Date'] = pd.to_datetime(aus_weather_new[["Year", "Month", "Day"]])
aus_weather_final

,State,Station,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h),Station No.,Date
0,ACT,Canberra Airport,6.5,20.8,0.0,NNW,33.0,70351,2019-05-01
1,ACT,Canberra Airport,8.8,23.8,0.0,NNW,26.0,70351,2019-05-02
2,ACT,Canberra Airport,15.2,20.4,20.8,NNW,43.0,70351,2019-05-03
3,ACT,Canberra Airport,5.0,19.0,0.6,SSE,41.0,70351,2019-05-04
4,ACT,Canberra Airport,4.9,17.4,0.0,S,48.0,70351,2019-05-05
...,...,...,...,...,...,...,...,...,...
11843,NT,Tennant Creek Airport,17.7,27.3,0.0,ESE,50.0,15135,2019-05-27
11844,NT,Tennant Creek Airport,13.9,24.0,0.0,ESE,48.0,15135,2019-05-28
11845,NT,Tennant Creek Airport,11.4,23.9,0.0,ESE,44.0,15135,2019-05-29
11846,NT,Tennant Creek Airport,12.7,22.8,0.0,NaN,NaN,15135,2019-05-30
11847,NT,Tennant Creek Airport,10.6,19.0,NaN,SE,59.0,15135,2019-05-31

In [17]:
#export the final csv file
aus_weather_final = aus_weather_final[['Date','State','Station','Station No.','Min Temp(°C)','Max Temp(°C)','Rain(mm)','Max Wind Dir','Max Wind Spd(km/h)']]
aus_weather_final.to_csv("Resources/weather_Australia.csv")

## Merge the station data with weather data

In [18]:
#merge the two dataset table on the station number
aus_weather_final["Station No."] = pd.to_numeric(aus_weather_final["Station No."])
aus_weather_with_station = aus_weather_final.merge(weather_station_raw,left_on="Station No.",right_on='STN_NUM')

aus_weather_with_station

,Date,State,Station,Station No.,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h),STN_NUM,...,NAME,REGION,STATUS,EQUIP_START,EQUIP_END,LATITUDE,LONGITUDE,STN_HT,BAR_HT,AERO_HT
0,2019-05-01,ACT,Canberra Airport,70351,6.5,20.8,0.0,NNW,33.0,70351,...,CANBERRA AIRPORT,NSW,OPEN,9/9/08,NaN,-35.3088,149.2003,577.05,577.6,575.5
1,2019-05-02,ACT,Canberra Airport,70351,8.8,23.8,0.0,NNW,26.0,70351,...,CANBERRA AIRPORT,NSW,OPEN,9/9/08,NaN,-35.3088,149.2003,577.05,577.6,575.5
2,2019-05-03,ACT,Canberra Airport,70351,15.2,20.4,20.8,NNW,43.0,70351,...,CANBERRA AIRPORT,NSW,OPEN,9/9/08,NaN,-35.3088,149.2003,577.05,577.6,575.5
3,2019-05-04,ACT,Canberra Airport,70351,5.0,19.0,0.6,SSE,41.0,70351,...,CANBERRA AIRPORT,NSW,OPEN,9/9/08,NaN,-35.3088,149.2003,577.05,577.6,575.5
4,2019-05-05,ACT,Canberra Airport,70351,4.9,17.4,0.0,S,48.0,70351,...,CANBERRA AIRPORT,NSW,OPEN,9/9/08,NaN,-35.3088,149.2003,577.05,577.6,575.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10484,2019-05-27,NT,Tennant Creek Airport,15135,17.7,27.3,0.0,ESE,50.0,15135,...,TENNANT CREEK AIRPORT,NT,OPEN,1/7/90,NaN,-19.6423,134.1833,375.70,377.1,376.7
10485,2019-05-28,NT,Tennant Creek Airport,15135,13.9,24.0,0.0,ESE,48.0,15135,...,TENNANT CREEK AIRPORT,NT,OPEN,1/7/90,NaN,-19.6423,134.1833,375.70,377.1,376.7
10486,2019-05-29,NT,Tennant Creek Airport,15135,11.4,23.9,0.0,ESE,44.0,15135,...,TENNANT CREEK AIRPORT,NT,OPEN,1/7/90,NaN,-19.6423,134.1833,375.70,377.1,376.7
10487,2019-05-30,NT,Tennant Creek Airport,15135,12.7,22.8,0.0,NaN,NaN,15135,...,TENNANT CREEK AIRPORT,NT,OPEN,1/7/90,NaN,-19.6423,134.1833,375.70,377.1,376.7
10488,2019-05-31,NT,Tennant Creek Airport,15135,10.6,19.0,NaN,SE,59.0,15135,...,TENNANT CREEK AIRPORT,NT,OPEN,1/7/90,NaN,-19.6423,134.1833,375.70,377.1,376.7

In [19]:
#clean the whole dataset
aus_weather_with_station = aus_weather_with_station.rename(columns = {'LATITUDE':'latitude','LONGITUDE':'longitude'})
aus_weather_with_station_final = aus_weather_with_station[['Date','State','Station','Station No.','latitude','longitude','Min Temp(°C)','Max Temp(°C)','Rain(mm)','Max Wind Dir','Max Wind Spd(km/h)']]
aus_weather_with_station_final = aus_weather_with_station_final.dropna()
aus_weather_with_station_final

,Date,State,Station,Station No.,latitude,longitude,Min Temp(°C),Max Temp(°C),Rain(mm),Max Wind Dir,Max Wind Spd(km/h)
0,2019-05-01,ACT,Canberra Airport,70351,-35.3088,149.2003,6.5,20.8,0.0,NNW,33.0
1,2019-05-02,ACT,Canberra Airport,70351,-35.3088,149.2003,8.8,23.8,0.0,NNW,26.0
2,2019-05-03,ACT,Canberra Airport,70351,-35.3088,149.2003,15.2,20.4,20.8,NNW,43.0
3,2019-05-04,ACT,Canberra Airport,70351,-35.3088,149.2003,5.0,19.0,0.6,SSE,41.0
4,2019-05-05,ACT,Canberra Airport,70351,-35.3088,149.2003,4.9,17.4,0.0,S,48.0
...,...,...,...,...,...,...,...,...,...,...,...
10482,2019-05-25,NT,Tennant Creek Airport,15135,-19.6423,134.1833,19.0,29.0,0.0,ESE,41.0
10483,2019-05-26,NT,Tennant Creek Airport,15135,-19.6423,134.1833,15.9,28.7,0.0,SE,44.0
10484,2019-05-27,NT,Tennant Creek Airport,15135,-19.6423,134.1833,17.7,27.3,0.0,ESE,50.0
10485,2019-05-28,NT,Tennant Creek Airport,15135,-19.6423,134.1833,13.9,24.0,0.0,ESE,48.0
10486,2019-05-29,NT,Tennant Creek Airport,15135,-19.6423,134.1833,11.4,23.9,0.0,ESE,44.0

In [20]:
#to csv file
aus_weather_with_station_final.to_csv("Resources/weather_Australia_with_station.csv")

## Rachel's Contribution

In [21]:
# Generate a summary statistics table for each state over a year

grouped_weatcher=aus_weather_with_station_final.groupby(['Date','State'])
grouped_weatcher_temp=grouped_weatcher['Max Temp(°C)'].mean()
grouped_weatcher_rain=grouped_weatcher['Rain(mm)'].mean()

In [24]:
summary_stats= pd.DataFrame({"Avg Max Temp": grouped_weatcher_temp,"Avg Rain mm":grouped_weatcher_rain})
summary_stats.reset_index()

           Date State  Avg Max Temp  Avg Rain mm
0    2019-05-01   ACT     20.550000     0.000000
1    2019-05-01   NSW     23.666667     0.000000
2    2019-05-01    NT     32.033333     1.666667
3    2019-05-01   QLD     27.950000     2.150000
4    2019-05-01    SA     21.225000     5.450000
...         ...   ...           ...          ...
3376 2020-06-26   TAS     11.833333     0.666667
3377 2020-06-26    WA     24.433333     0.000000
3378 2020-06-27    NT     25.800000     0.000000
3379 2020-06-27    SA     17.400000     0.200000
3380 2020-06-27   TAS     12.166667     0.066667

[3381 rows x 4 columns]

In [25]:
summary_stats.to_csv("Resources/weather_summary_stats.csv")

## Echo's Contribution

In [4]:
# Create a table for bar&line chart of temp and rainfall
aus_weather_raw.head()

,State,Station,Year,Month,Date,Day,Min °C,Max °C,Rain(mm),Evap (mm),...,Dir - 9:00 AM - km/h,Spd - 9:00AM - km/h,MSLP- hPa - 9:00AM,Temp °C- 3:00PM,RH -% 3:00PM,Cld 8th- 3:00 PM,Dir - 3:00 PM - km/h,Spd - 3:00PM - km/h,MSLP- hPa - 3:00PM,Rain(Y/N)
0,ACT,Canberra Airport {station 070351},2019,May,1.0,We,6.5,20.8,0.0,NaN,...,NNW,6.0,1022.0,20.1,61.0,8.0,WNW,13.0,1021.3,N
1,ACT,Canberra Airport {station 070351},2019,May,2.0,Th,8.8,23.8,0.0,NaN,...,ESE,4.0,1026.6,22.4,57.0,8.0,NW,11.0,1022.5,N
2,ACT,Canberra Airport {station 070351},2019,May,3.0,Fr,15.2,20.4,20.8,NaN,...,NNW,24.0,1019.1,18.9,75.0,NaN,N,33.0,1015.8,Y
3,ACT,Canberra Airport {station 070351},2019,May,4.0,Sa,5.0,19.0,0.6,NaN,...,Calm,NaN,1018.1,16.6,47.0,2.0,WNW,22.0,1015.6,Y
4,ACT,Canberra Airport {station 070351},2019,May,5.0,Su,4.9,17.4,0.0,NaN,...,S,24.0,1021.0,14.9,58.0,8.0,S,33.0,1019.4,N

In [5]:
aus_weather_str = aus_weather_raw[['Year','Month','State','Station','Max °C','Rain(mm)']]
aus_weather_work = aus_weather_str.copy()
aus_weather_work.head()

   Year Month State                            Station  Max °C  Rain(mm)
0  2019   May   ACT  Canberra Airport {station 070351}    20.8       0.0
1  2019   May   ACT  Canberra Airport {station 070351}    23.8       0.0
2  2019   May   ACT  Canberra Airport {station 070351}    20.4      20.8
3  2019   May   ACT  Canberra Airport {station 070351}    19.0       0.6
4  2019   May   ACT  Canberra Airport {station 070351}    17.4       0.0

In [6]:
aus_weather_work['Station'] = aus_weather_work['Station'].str.rsplit("{", expand = True, n = 1)[0]
aus_weather_work.loc[aus_weather_work['Month']=='May','Month']=5
aus_weather_work.loc[aus_weather_work['Month']=='June','Month']=6
aus_weather_work.loc[aus_weather_work['Month']=='July','Month']=7
aus_weather_work.loc[aus_weather_work['Month']=='August','Month']=8
aus_weather_work.loc[aus_weather_work['Month']=='September','Month']=9
aus_weather_work.loc[aus_weather_work['Month']=='October','Month']=10
aus_weather_work.loc[aus_weather_work['Month']=='November','Month']=11
aus_weather_work.loc[aus_weather_work['Month']=='December','Month']=12
aus_weather_work.loc[aus_weather_work['Month']=='January','Month']=1
aus_weather_work.loc[aus_weather_work['Month']=='February','Month']=2
aus_weather_work.loc[aus_weather_work['Month']=='March','Month']=3
aus_weather_work.loc[aus_weather_work['Month']=='April','Month']=4
aus_weather_work['Month'] = pd.to_numeric(aus_weather_work['Month'])
aus_weather_work.head()

   Year  Month State            Station  Max °C  Rain(mm)
0  2019      5   ACT  Canberra Airport     20.8       0.0
1  2019      5   ACT  Canberra Airport     23.8       0.0
2  2019      5   ACT  Canberra Airport     20.4      20.8
3  2019      5   ACT  Canberra Airport     19.0       0.6
4  2019      5   ACT  Canberra Airport     17.4       0.0

In [7]:
aus_weather_work['Year'] = aus_weather_work['Year'].astype(str)
aus_weather_work['Month'] = aus_weather_work['Month'].astype(str)
aus_weather_work['Date'] = aus_weather_work['Year'].str.cat(aus_weather_work['Month'],sep="-")
aus_weather_work.head()

   Year Month State            Station  Max °C  Rain(mm)    Date
0  2019     5   ACT  Canberra Airport     20.8       0.0  2019-5
1  2019     5   ACT  Canberra Airport     23.8       0.0  2019-5
2  2019     5   ACT  Canberra Airport     20.4      20.8  2019-5
3  2019     5   ACT  Canberra Airport     19.0       0.6  2019-5
4  2019     5   ACT  Canberra Airport     17.4       0.0  2019-5

In [8]:
aus_weather_work = aus_weather_work.rename(columns = {'Max °C':'Max Temp','Rain(mm)':'Rain'})
aus_weather_work['State-Station'] = aus_weather_work['State'].str.cat(aus_weather_work['Station'],sep="-")
aus_weather_work['Date'] = aus_weather_work['Year'].str.cat(aus_weather_work['Month'],sep="-")
aus_weather_final = aus_weather_work[['Date','State-Station','Max Temp','Rain']]
aus_weather_final = aus_weather_final.dropna()
aus_weather_final = aus_weather_final.reset_index(drop = True)
aus_weather_final['yyyy-mm'] = pd.to_datetime(aus_weather_final['Date']).dt.strftime('%Y-%m')
aus_weather_final

         Date              State-Station  Max Temp  Rain  yyyy-mm
0      2019-5      ACT-Canberra Airport       20.8   0.0  2019-05
1      2019-5      ACT-Canberra Airport       23.8   0.0  2019-05
2      2019-5      ACT-Canberra Airport       20.4  20.8  2019-05
3      2019-5      ACT-Canberra Airport       19.0   0.6  2019-05
4      2019-5      ACT-Canberra Airport       17.4   0.0  2019-05
...       ...                        ...       ...   ...      ...
11525  2019-5  NT-Tennant Creek Airport       28.7   0.0  2019-05
11526  2019-5  NT-Tennant Creek Airport       27.3   0.0  2019-05
11527  2019-5  NT-Tennant Creek Airport       24.0   0.0  2019-05
11528  2019-5  NT-Tennant Creek Airport       23.9   0.0  2019-05
11529  2019-5  NT-Tennant Creek Airport       22.8   0.0  2019-05

[11530 rows x 5 columns]

In [9]:
aus_weather_groupby = aus_weather_final.groupby(['State-Station', 'yyyy-mm']).mean()

In [10]:
aus_weather_barchart = aus_weather_groupby.reset_index()
aus_weather_barchart

             State-Station  yyyy-mm   Max Temp      Rain
0    ACT-Canberra Airport   2019-05  16.587097  1.490323
1    ACT-Canberra Airport   2019-06  14.060000  0.600000
2    ACT-Canberra Airport   2019-07  13.674194  0.161290
3    ACT-Canberra Airport   2019-08  14.180645  0.574194
4    ACT-Canberra Airport   2019-09  18.763333  1.333333
..                     ...      ...        ...       ...
387        WA-Perth Metro   2020-02  32.334483  1.186207
388        WA-Perth Metro   2020-03  29.738710  1.058065
389        WA-Perth Metro   2020-04  26.386667  0.440000
390        WA-Perth Metro   2020-05  22.016129  3.600000
391        WA-Perth Metro   2020-06  21.684615  2.553846

[392 rows x 4 columns]

In [11]:
aus_weather_barchart = aus_weather_barchart.rename(columns = {'yyyy-mm':'Date'})
aus_weather_barchart

             State-Station     Date   Max Temp      Rain
0    ACT-Canberra Airport   2019-05  16.587097  1.490323
1    ACT-Canberra Airport   2019-06  14.060000  0.600000
2    ACT-Canberra Airport   2019-07  13.674194  0.161290
3    ACT-Canberra Airport   2019-08  14.180645  0.574194
4    ACT-Canberra Airport   2019-09  18.763333  1.333333
..                     ...      ...        ...       ...
387        WA-Perth Metro   2020-02  32.334483  1.186207
388        WA-Perth Metro   2020-03  29.738710  1.058065
389        WA-Perth Metro   2020-04  26.386667  0.440000
390        WA-Perth Metro   2020-05  22.016129  3.600000
391        WA-Perth Metro   2020-06  21.684615  2.553846

[392 rows x 4 columns]

In [48]:
aus_weather_barchart.to_csv("Resources/aus_weather_barchart.csv")

In [12]:
aus_weather_barchart.to_json("Resources/Json/aus_weather_barchart.json", orient = "records")