In [1]:
import pandas as pd
import pymongo
import json
import geopandas
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent = 'example app')

## convert csv to json

In [2]:
df1 = pd.read_csv("Resources/Bushfire_2019&2020.csv")
df2 = df1[133700:133750]
df2.head()

        Unnamed: 0  latitude  longitude  brightness        date
133700      133700  -14.1258   130.0385       334.1  2019-09-01
133701      133701  -17.0061   128.1230       323.2  2019-09-01
133702      133702  -16.0082   136.3203       329.4  2019-09-01
133703      133703  -16.0068   136.3296       330.0  2019-09-01
133704      133704  -16.1024   136.9362       334.2  2019-09-01

In [3]:
lat = df2['latitude'].tolist()
lon = df2['longitude'].tolist()

In [33]:
for i in range(50):
    location_info = geolocator.reverse("{}, {}".format(lat[i],lon[i]))
    try:
        print(location_info.raw['address']['state'])
    except:
        print(location_info.raw['address']['territory'])

Northern Territory
Western Australia
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Queensland
Western Australia
Western Australia
Northern Territory
Queensland
Queensland
Queensland
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory
Northern Territory